.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
build/
lambdas/*/node_modules/
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
