domain              = "showcase.dram-soc.org"
region              = "us-west-2"
owner_email         = "you@example.com"
ses_verified_sender = "you@example.com"
log_retention_days  = 30
price_class         = "PriceClass_100"
